<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <stats number="6" comments="New comments!" colour="primary" type="comments"></stats>
        <stats number="12" comments="New tasks!" colour="primary" type="user"></stats>
        <stats number="18" comments="New orders!" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="Support tickets!" colour="red" type="support"></stats>

    </div>
</div>
