<!doctype html>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="zh" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="zh" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="zh" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="qc:admins" content="141456361121636" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/angular-carousel.min.css" type="text/css">
    <title>美比 - 一站式解决海外华人购买国内商品平台</title>
</head>

<body ng-cloak ng-controller="bodyCtrl">
<header page-header class="header" ng-controller="headerCtrl" ng-cloak>
</header>
<div class="view-container" ng-view></div>
<route-loading-indicator></route-loading-indicator>

<script data-main="/static/ng-js/main" src="/static/ng-js/libs/require.js"></script>

</body>
</html>
