{% macro pagination(pagination) %}
  <ul class=pagination>
  {% if pagination.has_prev %}
    <li><a href="{{ url_for_other_page(pagination.page - 1)
      }}">«</a></li>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
      {% else %}
        <li><a style="color:grey" href="#">{{ page }}</a></li>
      {% endif %}
    {% else %}
      <li class=ellipsis>…</li>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <li><a href="{{ url_for_other_page(pagination.page + 1)
      }}">»</a></li>
  {% endif %}
  </ul>
{% endmacro %}
