@charset "utf-8";

/*reset*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, select, input, textarea { margin: 0px; padding: 0px;}
/*fieldset, img { border:none; }*/
ul, ol { list-style:none; }
/*select, input { vertical-align:middle; }*/
/*input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }*/
/*textarea { resize:none; }*/
/*input,textarea{background: none; border: none;}*/
/*table { border-collapse:collapse; }*/
a {text-decoration:none; color: rgb(99, 99, 99);}
a.ng-click-active {
    opacity: 0.9;
}
input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}
ul {
    margin: 0px;
    padding: 0px;
    -webkit-margin-after: 0px;
}
body {
    font: 14px/20px Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans", "Heiti SC","Hiragino Sans GB", "Microsoft Yahei", sans-self;
    background-color: white;
    color: rgb(99, 99, 99);
    margin: 0 auto;
}
.debug-info {
    z-index: 3;
    background-color: white;
}
.ng-include-header, .ng-include-menu {
    position: fixed;
    width: 100%;
    z-index: 2;
}
.ng-include-header {
    top: 0px;
    left: 0px;
}
.ng-include-menu {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    height: 56px;
    background-color: #f2f2f2;
    width: 100%;
    border-top: 1px solid #cccccc;

}
.ng-view-container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    /*height: 100%;*/
    z-index: 0;
    /*top: 40px;*/
    top: 0px;
    margin-top: 40px;
    margin-bottom: 56px;
    /*padding-bottom: 56px;*/
    overflow-x: hidden;
}
.ng-view-container.ng-enter, .ng-view-container.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}
.ng-view-container.ng-enter {
    opacity: 1;
}
.ng-view-container.ng-leave {
    opacity: 0;
}
.ng-view-container.ng-enter.ng-enter-active {
    opacity: 1;
}
.ng-view-container.ng-leave.ng-leave-active {
    opacity: 0;
}
.ng-include-header .header-wrapper {
    position: relative;
    background-color: #e65e5e;
    transition: background-color 0.2s linear 0s;
    -ms-transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    transform: translateZ(0px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}

.header-wrapper .left-button, .header-wrapper .right-button {
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    flex: 0 0 auto !important;
    font-size: 16px;
    height: 100%;
    max-width: 20%;
    padding: 0px;
    position: relative;
    width: auto;
    width: 20%;
}
.header-wrapper .left-button {
    padding-left: 20px;
}
.header-wrapper .right-button {
    padding-right: 20px;
}
.header-wrapper .title {
    display: block;
    flex: 1 1 0px;
    font-size: 16px;
    height: 100%;
    max-width: 80%;
    padding: 0px !important;
    position: relative;
    text-align: center;
    width: 60%;
}

.ng-include-header, md-toolbar#heading_bar {
    font-size: 16px;
}
#nav_bar_bottom_wrapper {
    max-height: 45px;
    height: 45px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(241, 241, 241);
}

#nav_bar_bottom {
    height: 56px;
}
#nav_bar_bottom ul {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
}
#nav_bar_bottom ul>li {
    width: 25%;
    height: 100%;
    text-align: center;
}
#nav_bar_bottom ul>li a {
    width: 100%;
    height: 56px;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 6px;
    color: #777;
    line-height: 16px;
}

#nav_bar_bottom ul>li a span{
    display: inline-block;
    width: 2em;
    height: 2em;
    background: url("../asserts/icons/foot_icon.png") no-repeat scroll;
    background-size: 8em 4em;
}
#nav_bar_bottom ul>li[aria-label="main"] span {
    background-position: 0 0;
}
#nav_bar_bottom ul>li[aria-label="invest"] span {
    background-position: -2em 0;
}
#nav_bar_bottom ul>li[aria-label="personal_center"] span {
    background-position: -4em 0;
}
#nav_bar_bottom ul>li[aria-label="more"] span {
    background-position: -6em 0;
}
#nav_bar_bottom ul>li.active a {
    color: #cc0000;
}
#nav_bar_bottom ul>li.active[aria-label="main"] span {
    background-position: 0 -2em;
}
#nav_bar_bottom ul>li.active[aria-label="invest"] span {
    background-position: -2em -2em;
}
#nav_bar_bottom ul>li.active[aria-label="personal_center"] span {
    background-position: -4em -2em;
}
#nav_bar_bottom ul>li.active[aria-label="more"] span {
    background-position: -6em -2em;
}
.menuBtn {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px 0 0 16px;
    width: 36px;
}
md-toolbar h1 {
    font-weight: normal;
}
md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

/* Using Data-URI converted from svg until <md-icon> becomes available
https://github.com/google/material-design-icons
*/
.menuBtn {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}

/*custom md*/
md-toolbar.md-default-theme {
    background-color: #e65e5e;
}


#login_form md-input-container .md-input {
    font-size: 30px;
    line-height: 30px;
    color: #999999;
    padding-left: 20px;
}
#login_form md-input-container label:not(.md-no-float), #login_form md-input-container.md-input-focused label:not(.md-no-float), #login_form md-input-container.md-input-has-value label:not(.md-no-float) {
    font-size: 30px;
    line-height: 30px;
    color: #999999;
}
#login_form md-input-container label:not(.md-no-float) {
    font-size: 30px;
    line-height: 30px;
    padding-left: 20px;
    position: relative;
    bottom: -15px;
    color: #999999;
}
.login_logo img {
    max-width: 247px;
    display: block;
    width: 33%;
    height: auto;
    margin: 0 auto;
}
.login_con {
    max-width: 500px;
    margin: 1.8em auto;
    padding: 20px;
    padding-bottom: 50px;
}
.homepage-carousel {
    position: relative;
    width: 100%;
    min-height: 230px;
    height: 230px;
}
.homepage-carousel-ul {
    height: 100%;
    min-height: 230px;
    height: 230px;
    overflow-x: hidden;
}

.homepage-carousel-slide-container {
    height: 100%;
    background-size: cover;
}
.homepage-carousel-indicators {
    position: absolute;
    left: 50%;
    bottom: 1em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.homepage-carousel-indicators div.rn-carousel-indicator span {
    opacity: 0.5;
    font-size: 1em;
    padding: 0 0.5em;
}
.homepage-carousel-indicators div.rn-carousel-indicator span.active {
    color: white;
}
.mask-show-filter {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    opacity: 0.6;
    z-index: 900;
}
.current * {
    -moz-transition: all .1s cubic-bezier(0.4, 0.0, 1, 1);
    -o-transition: all .1s cubic-bezier(0.4, 0.0, 1, 1);
    -webkit-transition: all .1s cubic-bezier(0.4, 0.0, 1, 1);
    transition: all .1s cubic-bezier(0.4, 0.0, 1, 1);
}
.mc_list li {
    min-height: 50px;
}
.bgred, .mdyl_list_left, .yinl {
    height: 98px;
    min-height: 98px;

}
.mdyl_list_right {
    height: 94px;
    min-width: 94px;
    width: 94px;
}
.yinl {
    background-image: url("../asserts/icons/wdyl_logobg.png");
    background-size: cover;
    background-position-x: -20px;
    background-position-y: 0px;
    width: 70px;
    line-height: 98px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    position: absolute;
    z-index: 4;
    top: 0;
    right: 102px;
}
.wid20 {
    width: 20%;
    float: left;
}
.wid80 {
    width: 80%;
    float: left;
}
.Percentage {
    margin-left: -0.4em;
}
.pagenation-btn {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #f2f2f2;
    padding-bottom: 1.6em;
}
.pagenation-btn a {
    width: 20%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin: 0px 20px;
    color: white;
    background-color: #cc0000;
}

.invest-page {
    background-color: #f2f2f2;

}
